[submodule "components/Arduino_GFX"]
	path = components/Arduino_GFX
	url = https://github.com/JonVogel/Arduino_GFX.git
	branch = idf-port
[submodule "components/NimBLE-Arduino"]
	path = components/NimBLE-Arduino
	url = https://github.com/JonVogel/NimBLE-Arduino.git
	branch = idf-port
[submodule "components/AsyncTCP"]
	path = components/AsyncTCP
	url = https://github.com/JonVogel/AsyncTCP.git
	branch = idf-port
[submodule "components/ESPAsyncWebServer"]
	path = components/ESPAsyncWebServer
	url = https://github.com/JonVogel/ESPAsyncWebServer.git
	branch = idf-port
[submodule "components/web_files"]
	path = components/web_files
	url = https://github.com/JonVogel/TI32_web_files.git
	branch = idf-port
[submodule "docs"]
	path = docs
	url = https://github.com/JonVogel/TI32_docs.git
[submodule "components/ti-emulator"]
	path = components/ti-emulator
	url = https://github.com/JonVogel/TI32_emulator_core.git
	branch = main
