[submodule "TI_Extended_Basic_Interpreter"]
	path = TI_Extended_Basic_Interpreter
	url = https://github.com/JonVogel/TI_Extended_Basic_Interpreter.git
[submodule "ESP32_File_Handling"]
	path = ESP32_File_Handling
	url = https://github.com/JonVogel/ESP32_File_Handling.git
[submodule "BleHidHost"]
	path = BleHidHost
	url = https://github.com/JonVogel/BleHidHost.git
[submodule "TI_Font"]
	path = TI_Font
	url = https://github.com/JonVogel/TI_Font.git
[submodule "components/Arduino_GFX"]
	path = components/Arduino_GFX
	url = https://github.com/JonVogel/Arduino_GFX.git
	branch = idf-port
[submodule "components/NimBLE-Arduino"]
	path = components/NimBLE-Arduino
	url = https://github.com/JonVogel/NimBLE-Arduino.git
	branch = idf-port
[submodule "components/AsyncTCP"]
	path = components/AsyncTCP
	url = https://github.com/JonVogel/AsyncTCP.git
	branch = idf-port
[submodule "components/ESPAsyncWebServer"]
	path = components/ESPAsyncWebServer
	url = https://github.com/JonVogel/ESPAsyncWebServer.git
	branch = idf-port
[submodule "components/web_files"]
	path = components/web_files
	url = https://github.com/JonVogel/TI_Web_Files_ESP.git
	branch = idf-port
